{% extends "main.html" %}
{% block content %}

    {% with message = get_flashed_messages() %}
    {% if message %}
        <strong> {{ message }} </strong>
    {% endif %}
    {% endwith %}
   
    <h1>Catalog App</h1>
        <h2>Categories</h2>
        {% for c in category %} 
            <p><a href = "{{url_for('showCategoryItem',category_name = c.name)}}" >{{c.name}}</a></p>
        {% endfor %}

        <h2> <a href="{{url_for('newItem')}}"> Add Item </a> </h2>

        {% include "catalogList.html" %}
        
{% endblock %}